/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно,
чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/
/* -webkit-text-stroke: 1px var(--button-accent-color);  */
@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter", Arial, sans-serif;
  }
}
@supports ((text-stroke: 1px var(--button-accent-color)) or (-webkit-text-stroke: 1px var(--button-accent-color))){
  .label {
    -webkit-text-stroke: 1px var(--button-accent-color);
    text-stroke: 1px var(--button-accent-color);
    text-shadow: none;
  }
}
.page {
  margin: 0 auto;
  width: 48.612%;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--bg-gradient-image);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header {
  display: grid;
  background-color: var(--background-color);
  margin-block-start: 100px;
  border: 2px solid var(--accent-color);
  font-family: "PressStart2P", fantasy;
  font-weight: var(--text-weight);
}

.header__title {
  margin-block-start: 136px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  margin-block-start: 20px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.heading {
  text-align: center;
  color: var(--accent-color);
  text-transform: uppercase;
}

.theme-menu__button {
  color: var(--accent-color);
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  border: none;
  position: relative;
  transition-property: opacity, scaleX;
  transition-duration: 0.3s;
}

.theme-menu__list {
  display: grid;
  justify-content: center;
  gap: 14px;
  margin: 25px 0;
}

.theme-menu__item {
  max-width: 84px;
  max-height: 14px;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  top: 0px;
  left: 0px;
  animation: slide 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.theme-menu__button:disabled {
  pointer-events: none;
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  background-color: var(--accent-color);
  width: 90%;
  left: 5px;
  height: 2px;
  top: 15px;
  transform: scaleX(0);
  transition-duration: 0.3s;
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.content__block:first-child {
  margin-block-start: 100px;
}

.content__block {
  font-family: "Inter", Arial, sans-serif;
  font-weight: var(--text-weight);
  background: var(--background-color);
  margin-block-start: 50px;
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  font-size: 18px;
}

.main__title {
  font-variation-settings: "wght" var(--title-weight);
  font-size: 18px;
  margin: 5px 0px 5px 10px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-block-end: 2px solid var(--accent-color);
  border-block-start: 2px solid var(--accent-color);
  object-position: center; /*right */
}
.text__block {
  display: grid;
  padding: 25px;
  gap: 27px;
}
.paragraph {
  font-variation-settings: "wght" var(--text-weight);
  line-height: 21px;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  color: black;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 
    -1px 0 0 var(--button-accent-color),
    0 1px 0 var(--button-accent-color),
    1px 0 0 var(--button-accent-color),
    0 -1px 0 var(--button-accent-color);
}

.wrapper {
  height: 700px;
  position: relative;
}

.card__button-section {
  display: flex;
  justify-content: end;
  margin-inline-end: 25px;
  margin-block-end: 25px;
  gap: 6px;
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button:focus {
  outline: none;
}
.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px var(--accent-color);
}

.button__text {
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  color: var(--button-accent-color);
  mix-blend-mode: difference;
  position: relative;
  z-index: 1;
}

.button {
  cursor: pointer;
  transition: 0.3s ease;
  position: relative;
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--accent-color);
  transition: width 0.5s ease-in-out;
}

.button:hover::after {
  width: 100%;
}

.card__icon-button {
  padding: 0;
  height: 38px;
  width: 42px;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: transparent;
  border: 2px solid transparent;
}

.card__icon-button:focus {
  border: none;
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
}

.footer {
  display: flex;
  margin: 50px 0 100px;
  justify-content: center;
}

.footer__button {
  padding-bottom: 4px; 
  font-size: 14px;
  width: 339px;
  min-height: 55px;
}

.footer__button-picture {
  width: 21px;
  height: 21px;
  margin-inline-end: 8px;
  color: var(--button-accent-color);
  mix-blend-mode: difference;
  z-index: 1;
  position: relative;
}

.footer__button-picture-modal {
  width: 39px;
  height: 39px;
  margin-inline-end: 8px;
  color: var(--accent-color);
}

.dialog-id {
  display: grid;
  gap: 30px;
  padding: 31.5px;
  width: 357px;
  transition: opacity 0.3s ease-in-out;
  border: 2px solid var(--accent-color);
  background-color: var(--background-color);
  font-family: "PressStart2P", fantasy;
  font-size: var(--title-weight);
  color: var(--accent-color);
  position: fixed;
}

.dialog-id:not([open]) {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dialog-id::backdrop {
  background-color: black;
  opacity: 0.75;
}

.footer__container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.close-button {
  width: 100%;
  min-height: 38px;
  padding: 9px 17px;
}

.footer__button-text {
  max-width: 234px;
  font-family: "PressStart2P", fantasy;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
}

.grayscale {
  filter: grayscale(50%);
}

.contrast {
  filter: contrast(200%);
}

.sepia {
  filter: sepia(100%);
}

.invert {
  filter: invert(75%);
}

.saturate {
  filter: saturate(0.2);
}

.blur {
  filter: blur(10px);
}

.many-filter {
  filter: grayscale(50%) contrast(200%) sepia(100%) invert(75%) saturate(0.2) blur(10px);
}

@media (848px >=width) {
  .page {
    width: 100%;
  }

  .header__title {
    margin-block-start: 120px;
  }
  .main__title {
    margin: 5px 3px 5px 10px;
  }

  .wrapper {
    height: 375px;
  }

  .footer__button {
    width: 310px;
    height: 84px;
  }
  .footer__button-picture-modal {
    width: 90px;
  }
  .footer__button-picture {
    width: 175px;
    height: 28px;
    margin: 5px 0px 5px ;
  }
  .label {
    top: 23px;
    right: 11px;
  }
}
